<div>

  <h1 class="p-t-md">Welcome to Questions?</h1>

  <p class="lead">
    Welcome to Enigmatic Springs.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary m-b-md" %>
</div>

