<% provide(:title, "Forgot password") %>

<%= form_tag(password_resets_path) do %>

  <div class="row m-b-1">
    <div class="std-label text-sm-right">
      <%= label_tag :email %>
    </div>
    <div class="std-control">
      <%= email_field_tag :email, nil, autofocus: true %>
    </div>
  </div>

  <div class="row m-b-1">
    <div class="std-submit text-xs-right">
      <%= submit_tag "Submit", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
