<span class="p-r-2 nowrap">

  <%= link_to user.name, user %>

  <span class="small text-muted">

    <% if !user.activated? %>
      not activated
    <% end %>

    <%= user.role unless user.role == "user" %>
  </span>

</span>
