<% provide(:title, "Users") %>

<% if current_user.admin? %>
  <%= link_to "Add User", new_user_path, class: "btn btn-primary pull-xs-right" %>
<% end %>

<h1>Users</h1>
<hr>

<%= render partial: @users %>

<p class="m-t-1 text-muted"><%= pluralize @users.count, "user" %></p>
