<span class="p-r-2 nowrap">

  <% if company == current_user.company %>
    <span class="text-muted">
      <%= company.name %>
    </span>
  <% else %>
    <%= link_to company.name, select_company_path(company), method: :post %>
  <% end %>

  <span class="text-muted small">
    <%= user_count company %>
  </span>

</span>
