<% provide(:title, "Company") %>

<h1><%= @company.name %></h1>
<hr>

<% if current_user.admin? %>
  <%= link_to "edit", edit_company_path(@company) %>
<% end %>

<% if current_user.root? %>

  <%= link_to "delete", @company, method: :delete, data: { confirm: "Are you sure?" } %>

  <%= link_to "select", select_company_path(@company), method: :post %>

<% end %>

