<% update = user.updates.last %>

<div class="p-b-1">
  <% if update.nil? %>
    nil...
  <% else %>
    <%= update.message %>
    <span class="text-muted small">
      <%= time_ago_in_words(update.created_at) %> ago
    </span>
  <% end %>

  <div class="text-muted nowrap">
    &mdash; <%= user.name %>
  </div>

</div>