<% provide :title, 'Updates' %>

<div class="alert alert-warning text-xs-center">
  This page is a board where all users can leave short messages. It is a simple example application and not
  part of user management.
</div>

<% unless current_user.root? %>
  <div class="row">
    <%= form_for Update.new, remote: true, authenticity_token: true do |f| %>
      <div class="col-xs-12 col-sm-9 col-lg-10">
        <%= f.text_field :message, class: 'form-group' %>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-2">
        <%= f.submit 'Update', class: 'btn btn-primary btn-block ajax-submit' %>
      </div>
    <% end %>
  </div>

  <hr>
<% end %>

<% @users.each do |u| %>
  <%= render 'update', user: u %>
<% end %>
