@import "variables";
@import "bootstrap-app";

.strong {
  font-weight: 600;
}

label {
  @extend .text-muted;

  margin-bottom: 0;

  @media (min-width: 415px) {
    padding-top: 8px;
  }
}

input[type="text"],
input[type="email"],
input[type="password"], {
  @extend .form-control;
}

.main {
  min-height: 380px;
}
