@import "variables";
@import "bootstrap-app";

.strong {
  font-weight: 600;
}

label {
  @extend .text-muted;

  margin-bottom: 2px;

  @media (min-width: 414px) {
    padding-top: 8px;
  }
}

input[type="text"],
input[type="email"],
input[type="password"], {
  @extend .form-control;
}

.main {
  min-height: 380px;
}

.std-label {
  @include make-col();

  // xs
  @media (min-width: 0px) {
    @include make-col-span(12);
  }
  // sm
  @media (min-width: 414px ) {
    @include make-col-span(3);
  }
  // lg
  @media (min-width: 768px) {
    @include make-col-span(4);
  }
}

.std-control {
  @include make-col();

  // xs
  @media (min-width: 0px) {
    @include make-col-span(12);
  }
  // sm
  @media (min-width: 414px ) {
    @include make-col-span(7);
  }
  // lg
  @media (min-width: 768px) {
    @include make-col-span(5);
  }
}

.std-submit {
  @include make-col();

  // xs
  @media (min-width: 0px) {
    @include make-col-span(12);
  }
  // sm
  @media (min-width: 414px ) {
    @include make-col-span(10);
  }
  // lg
  @media (min-width: 768px) {
    @include make-col-span(9);
  }
}
