$font-family-sans-serif: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$border-width: 3px;

//$font-size-root: 18px;

//$enable-shadows: true;

//.container {
//  margin-left: 0 !important;
//}

// add smaller break point (move rest up and remove xml)
// also suppress old lg

$grid-breakpoints: (
  xs: 0,
  sm: 560px,
  md: 760px,
  lg: 860px,
  xl: 960px
);

// .container width is fixed between container-max-width and next grid-breakpoint
// i.e. below is fluid to 760 then fixed

$container-max-widths: (
  sm: 759px,
  md: 760px,
  lg: 860px,
  xl: 960px
);
