<footer class="">
  <hr>

  <div class="pull-xs-left text-muted">
    Revision -
    <% if Rails.env.development? %>
      <%= AppName::REVISION %>
    <% else %>
      <%= ENV['HEROKU_SLUG_COMMIT'] %>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="pull-xs-right m-b-1">
      <%= link_to "Log out", logout_path, method: "delete" %>
    </div>
  <% end %>
</footer>
